@charset 'utf-8';
/**
 * YAJIMA APP
 * @version 1.0
 */

@import '_reset.scss';
@import '_animate.scss';

/*! yajima app v1.0.0 */
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
  margin: 0;
  padding: 0;
}

.page{
  font-size: 14px;
  position: relative;
  color: #4d2200;
  background-color: #f5f8fa;
  background-color: #f7f3e8;
}

.header{
  position: relative;
  height: 44px;
  padding: 0 20px;
  background-color: #524232;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.header__logo{
  font-size: 24px;
  line-height: 44px;
  position: relative;
  height: 44px;
  padding-left: 44px;
  color: #fff;
  &:before{
    font-family: 'Material Icons';
    font-size: 28px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-top: -17px;
    content: 'rss_feed';
    text-transform: none;
    border: 2px solid #fff;
    border-radius: 4px;

    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.form{
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}
.form__footer{
  padding: 20px 0;
  text-align: right;
}

.input{
  width: 100%;
  height: 44px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: height .4s ease;
  &:focus{
    border: 1px solid #42afe3;
    height: 80px;
    font-size: 24px;
  }
}

.btn{
  font-size: 14px;
  line-height: 24px;
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 3px 8px;
  padding: 3px 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
          transition: all .4s ease;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  color: #666;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  outline: none;

     -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  &:hover{
    border-color: #999;
  }
}
.btn--update,.btn--post{
  color: #fff;
  border-color: #4d2200;
  background-color: #4d2200;
  &:hover{
    border-color: #999;
  }
}
.btn--delete{
  color: #fff;
  border-color: #db2828;
  background-color: #db2828;
  &:hover{
    border-color: #db2828;
    background-color: #d01919;
  }
}

.contents{
  display: table;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 40px;
}
.content{
  display: table-cell;
  width: 50%;
  padding: 0 10px;
}
.box{
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}
.box__header{
  font-weight: bold;
  padding: 10px;
  color: #4d2200;
  border-bottom: 1px solid #eee;
  background-color: #ede7da;
}


.list{
  list-style-type: none;
}
.list__item{
  padding: 15px;
  border-top: 1px solid #eee;
  &:first-child{
    border-top: none;
  }
}

.tweet{
  position: relative;
  min-height: 60px;
  padding-left: 80px;
}
.tweet__avater{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 30px;
}
.article__date,.tweet__date{
  font-size: 12px;
  color: #999;
}
.article__txt,.tweet__txt{
  font-size: 16px;
  line-height: 1.4;
  padding-top: 10px;
}

.article__btn{
  padding-top: 10px;
  text-align: right;
  .btn{
    margin-left: 15px;
  }
}

.footer{
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #eee;
  background-color: #fff;
}
.footer__copy{
  font-size: 12px;
}

/* modal */
.modalbg{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
}
.modal{
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 260px;
  margin: -130px 0 0 -240px;
  border-radius: 4px;
  background-color: #fff;
}
.modal__heaer{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  width: 100%;
  padding: 18px 20px;
  border-bottom: 1px solid #ccc;
}
.modal__close{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
}
.close{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
          transition: all .2s ease;
  &:before,&:after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    margin: -2px 0 0 -15px;
    content: '';
    background-color: #666;
  }
  &:after{
    transform: rotate(45deg);
  }
  &:before{
    transform: rotate(-45deg);
  }
  &:hover{
    transform: rotate(90deg);
  }
}

.modal__body{
  position: relative;
  display: table;
  width: 100%;
  height: 126px;
  padding: 20px;
}
.modal__item{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.modal__footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: right;
  border-top: 1px solid rgba(34,36,38,.15);
  border-radius: 0 0 4px 4px;
  background-color: #f9fafb;
  .btn{
    margin-left: 20px;
  }
}


/* state */
.is-hide{
  display: none;
}

/* [ 画面サイズが1023以下の場合 ] */
@media screen and (max-width:1023px){
  .form{
    width: 100%;
    padding: 40px 10px 10px;
  }
}


/* [ 画面サイズが767以下の場合 ] */
@media screen and (max-width:767px){
  .header{
    text-align: center;
  }
  .header__logo{
    display: inline-block;
  }

  .contents,.content{
    display: block;
    width: 100%;
  }
  .content{
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
  }

  .modal{
    width: 80%;
    margin-left: -40%;
  }

}
